.itemcounter_container {
        background-color: #efe7e2;
        color: black;
        display: flex;
        justify-content: center;
        width: 50%;
        height: 250px;
        align-items: center;
        flex-wrap: wrap;


}

.suma {
        background-color: #000000;
        color: white;
        border: black;
        margin-left: 10px;
}

.suma:hover {
        background-color: #af795d;
        color: white;
        border: black;
}

.resta {
        background-color: #000000;
        color: white;
        border: black;
        margin-right: 10px;
}

.resta:hover {
        background-color: #af795d;
        color: white;
        border: black;
}

.addtocart {
        background-color: #af795d;
        color: white;
        border: #af795d;

}

.addtocart:hover {
        background-color: #af795d;
        color: white;
        border: #af795d;
}