.Item_container {padding-top: 15%;
                background-color: #efe7e2;
                height: 700px;
                display: flex;
                justify-content: space-between;
                gap: 20px;
                width: 70%;
                flex-wrap: wrap;
                margin-left: 15%;
                }

.Item_container h1 {font-weight: 700;

}

