.container_card {
    width: 100%;
    border-radius: 8px;

    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: all 0.25s;
    cursor: pointer;
}

.container_card img {
    width: 200px;
    height: 250px;
}

.container_card:hover {
    transform: translateY(-1px);
}


.Item_card_Container {
    width: 250px;
    height: 450px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: all 0.25s;
    cursor: pointer;
    margin-bottom: 5%;
}


.Item_card_Container:hover {
    transform: translateY(-15px);
}

.item_card_button {
    background-color: #000000;
    color: white;
    border: black
}

.item_card_button:hover {
    background-color: #af795d;
    color: white;
    border: black
}