.barra {
    background-color: #efe7e2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px 0;

}


.barra_list {
    list-style-type: none;
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    color: black;
    padding-top: 20px;

}

.barra_list li {
    color: #000000;
}


.nav-logo {
    width: 80px;
    height: 30px;
}

.barra_list__1 a {
    list-style-type: none;
    text-decoration: none;
}

.barra_list__1:hover {
    background-color: #000000;
    color: white;
    padding: 6px;
    transition: all 0.3s ease 0s;
    z-index: 99;
}

/* .mobile_menu {display: none;}
    
  

@media(max-width: 768px) {
    .mobile_menu {display: inline-flex;}
    .navbar {height: 65px;}
    .show {position: fixed;
                    width: 100%;
                    height: calc(100% - 65px);
                    gap: 10px;
                    transition: all .4s;
                    top: 65px;
                    flex-direction: column; 
                    background-color: #efe7e2;
                    overflow-y: auto;
                    } 
    
} */