* {margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Montserrat', sans-serif;}

.App {
  text-align: center;
}


.App-header {
  background-color: #efe7e2;
  min-height: 100vh;
  
}

.color-nav {background-color: #efe7e2;
        color: black;
        font-weight:600;}

.color-search {background-color: black;
                color: #efe7e2;}
      



footer {height: 100px;
        width: 100%;
        background-color: #af795d;
        color: black;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;}